---
layout: default
---

<style>

html {
  scroll-behavior: smooth;
}

/* 2. Make nav sticky */
test > nav {
  position: sticky;
  align-self: start;
  top: 2rem;
}

/* Sidebar Navigation */
.section-nav {
  padding-right: 0;
  margin-right: 2rem;
}

.section-nav a {
  text-align: right;
  text-decoration: none;
  display: block;
  color: #004aad;
  width: 8rem;
}

.section-nav a:hover,
.section-nav a:focus{
  color: #85ACDE;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/** page layout **/
container {
  display: flex;
  flex-direction: row;
}

</style>

<container>
  <nav class="section-nav">
    <ol>
      <li><a href="#box">UTBox</a></li>
      <li><a href="#plp">IGRINS plp</a></li>
      <li><a href="#muler">Quick Look</a></li>
      <li><a href="#specutils">Line Fitting</a></li>
    </ol>
  </nav>
  <div>
      <section id="box">
        <h2>Downloading UTBox Files via Python</h2>
      </section>
      <section id="plp">
        <h2>Reduce Raw IGRINS Spectra Using The IGRINS PipeLine Package (IGRINS plp)</h2>
      </section>
      <section id="muler">
        <h2>Quicklook IGRINS Spectra Using muler</h2>
        <pre>Here is an example of a code block</pre>
      </section>
      <section id="specutils">
        <h2>Line Fitting Using specutils</h2>
        <p>…</p>
      </section>
  </div>
</container>
